

a.add_style {

	color:#003d4c;
	text-underline-position: below;
	text-decoration: underline;

}
a.add_style :hover {
	color: #367889;
    text-decoration: none;
}
/* td.style_table.sorting_1 {
	font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    background: #536C9A;
} */
a.style_a {
	color: #003d4c;
    text-decoration: underline;
    font-weight: bold;
}
.table-bordered td.style_table {
	font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    background: #536C9A;
}
.js-cookie-consent{
    position: fixed; 
    top: 0px;
    padding: 10px;
    text-align: center;
    width: 100%;
    z-index: 9999;
    background-color: #38c172;
    border-color: #fffacc;
    border: solid 1px;
  }

.listAlphabet{
    padding-right:10px;
}

/*CSS Form Interaction*/
 .legend {
    color: #e32;
    font-size: 160%;
    font-weight: bold;
}

.footer {
    height: 150px;
    background-color: cornflowerblue;
}

#footerDiv{
    padding-top: 50px;
}
/*
.force {background:#FF0000;}
.moyenne {background:#FFCC33;}
.faible {background:#EEE8AA;}
.aucune {background:#CCFF99;}
.inconnue {background:#FFCCFF;}
*/
.force {background: red;}
.forceP {background: red;opacity:0.4;}
.moyenne {background:orange;}
.moyenneP{background: orange;opacity:0.4;}
.faible {background: yellow;}
.faibleP {background: yellow;opacity:0.4;}
.aucune {background: green;}
.aucuneP {background: green;opacity:0.4;}
.inconnue {background:purple;}
.inconnueP{background: purple;opacity:0.4;}
.invalidColor {background: #ffc107;}

.active-char
{
    color: green;
    border-bottom: 1px solid green;
    transform: scale(1.5);
}


/* register form style*/

#register label
{
    color: green;
    font-weight: bold;
}
.link:hover
{
    color: green;
}
#register .card
{
    width: 100%;
}

#register input
{
    margin-bottom: 0.5rem;
}
#register .register
{
    width: 40%;
}

#register input, #register button
{
    border: 0;
    border-bottom: 1px solid green;
}

#register .info
{
    font-size: 15px;
    margin-left: 5px;
}



#register .scroll
{
    overflow-y: scroll;
    height: 25rem;
    text-align: left;
}
.img-fluid.d-block.mx-auto.mx-md-0.hedrine_logo {
    width: 42%;
    float: right;
}


#layout .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

#layout .sidenav a.nav-link
{
    font-weight: bold;
    color: white;
}
#layout a.nav-link:hover
{
    transition: all 0.5s;
}
#layout a.nav-link:hover
{
    color: black;
    font-weight: bolder;
}


/* dawiteu */

    .bginfo{
        width:100%; 
        background-color:rgb(243, 243, 243); 
        border-radius:10px;
    }
    #colinteracttable{
        display:none;
    }

    .underline{
        text-decoration: underline;
    }
    /* Hinteraction - index // tj dawiteu */

    @media (max-width: 767.98px) { 
        .w-md-25{
            width:100%;
            text-align: center;
        }
    }
    @media (min-width: 767.98px) { 
        .w-md-25{
            width:25%;
        }
    }

    .color-lgblue{
        color: #3a64a5;
    }

    .interactiontable tbody{
        margin-top:10px;
    }
    .interactiontable th{
        color:#2d2d2d; 
    }
    .interactiontable td{
        color:white;
        text-shadow:0px 1px 3px black;
    }
    .shadow-none{
        text-shadow:none!important; 
    }
    .interactiontable td, .interactiontable th, .interactiontable tbody{
        border:none!important;
    }
    /* .interactiontable td:hover{
        text-shadow:0px 1px 5px orange; 
    } */
    .bg-redd{ /* le bg-red est deja occupe, un red plus clair. */
        background-color: red;
    }
    .bg-orange{
        background-color: orange;
    }
    .bg-yellow{
        background-color: yellow;
    }
    .bg-greenn{/* le bg-grenn est deja occupe, un purple plus clair. */
        background-color: green;
    }
    .bg-purplee{ /* le bg-red est deja occupe, un purple plus clair. */
        background-color: purple;
    }
    .bg-red-opacity{
        background-color: #FF8080;
    }
    .bg-orange-opacity{
        background-color: #FEBF8A;
    }
    .bg-yellow-opacity{
        background-color: #FFFF80;
    }
    .bg-green-opacity{
        background-color: #80C080;
    }
    .bg-purple-opacity{
        background-color: #C080C0;
    }


    .opacity-4{
        opacity: 0.5;
    }

    svg{
        overflow: visible;
    }


    /* End Hinteraction - index // tj dawiteu */

    /*  modal 2 ( condition utilisation outline ...  */

    .btnoutline-green{
        border-bottom:1px solid green; 
    }

    .btnoutline-green:hover:not([disabled]){
        color:white;
        background-color: green;
    }

    .btnoutline-red{
        border-bottom:1px solid red; 
    }
    .btnoutline-red:hover:not([disabled]){
        color:white;
        background-color: red;
    }
    input[disabled], button[disabled]{
        cursor:not-allowed;
    }
    .input-required-red{
        background-color: red!important;
    }
/* end dawiteu */